Using the Pandas library, perform the following tasks:

1. Create a DataFrame from the following data:
   | Name     | Age | Department   | Salary  |
   |----------|-----|--------------|---------|
   | John     | 28  | HR           | 45000   |
   | Alice    | 34  | IT           | 60000   |
   | Bob      | 23  | Marketing    | 35000   |
   | Diana    | 29  | Finance      | 50000   |

In [7]:
import pandas as pd
data = {
    'Name': ['chitti', 'rajesh','divi','tikku'],
    'Age': [18, 20, 22, 23],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [450000, 600000, 350000, 500000]
}
df = pd.DataFrame(data)
print(df)

     Name  Age Department  Salary
0  chitti   18         HR  450000
1  rajesh   20         IT  600000
2    divi   22  Marketing  350000
3   tikku   23    Finance  500000

2. Write code to:
   - Display the first 2 rows of the DataFrame.
   - Add a new column named `Bonus` where the bonus is 10% of the salary.
   - Calculate the average salary of employees in the DataFrame.
   - Filter and display employees who are older than 25.

In [9]:
import pandas as pd
data = {
    'Name': ['chitti', 'divi', 'krupa', 'tikku'],
    'Age': [22, 24, 20, 19],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column:")
print(df)
average_salary = df['Salary'].mean()
print(f"\nAverage Salary of Employees: {average_salary}")
older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(older_than_25)

First 2 rows of the DataFrame:
     Name  Age Department  Salary
0  chitti   22         HR   45000
1    divi   24         IT   60000

DataFrame with Bonus column:
     Name  Age Department  Salary   Bonus
0  chitti   22         HR   45000  4500.0
1    divi   24         IT   60000  6000.0
2   krupa   20  Marketing   35000  3500.0
3   tikku   19    Finance   50000  5000.0

Average Salary of Employees: 47500.0

Employees older than 25:
Empty DataFrame
Columns: [Name, Age, Department, Salary, Bonus]
Index: []